@import 'variables.scss';
@import 'mixins.scss';

// import fonts partial from sass/_fonts.scss
@import 'fonts.scss';

html {
    font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    font-weight: 400;
    margin-top: 1rem;
}
img {
    width: 100%;
}

p {
    @include font-size(16);
    line-height: 1.5;
}

.cover {
    border: 1px solid rgb(236, 235, 235);
    padding: 0 16px;
    position: relative;
    @include md {
        max-width: var(--site-width);
        margin: 0 auto;
        padding: 0;
    }
    > * {
        text-transform: uppercase;
    }
    &__photo img {
        max-width: var(--site-width);
    }
    &__title-block {
        position: absolute;
        bottom: 20px;
        text-align: center;
    }
    &__title {
        color: hsla(0, 0%, 100%, 0.72);
        @include font-size(135);
        font-weight: 700;
        letter-spacing: -3px;
    }
    &__subtitle {
        color: var(--color-white);
        @include font-size(14);
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: -.5rem;
    }
    &__badge {
        position: absolute;
        bottom: 200px;
        left: 20px;
        background-color: var(--color-white);
        padding: 30px;
        width: 145px;
        height: 145px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .badge {
        &__title {
            @include font-size(28);
            letter-spacing: 2px;
            font-weight: 500;
        }
        &__subtitle {
            font-weight: 500;
            line-height: 20px;
        }
        &__details {
            @include font-size(14);
        }
    }
}

